In [3]:
import requests
import pandas as pd
import json
import os

In [4]:
# from sqlalchemy import create_engine
# import pymysql
# pymysql.install_as_MySQLdb()
# import MySQLdb

In [5]:
# from config import remote_db_endpoint, remote_db_port
# from config import remote_db_name, remote_db_user, remote_db_pwd

### Read csv files

In [6]:
cwd = os.getcwd()

In [7]:
home_values = pd.read_csv("data/zillow_home_values.csv")
home_values

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1996-01-31,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
0,3101,0,Los Angeles County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,37,177774.0,...,659773.0,664580.0,666444.0,667704.0,672758.0,680207.0,688570.0,695441.0,702046.0,708045.0
1,139,1,Cook County,County,IL,IL,Chicago-Naperville-Elgin,17,31,154331.0,...,253684.0,254076.0,254595.0,255333.0,256710.0,258486.0,261016.0,263754.0,266201.0,268475.0
2,1090,2,Harris County,County,TX,TX,Houston-The Woodlands-Sugar Land,48,201,99675.0,...,199807.0,200940.0,201912.0,202637.0,203555.0,204670.0,206514.0,208295.0,210494.0,212658.0
3,2402,3,Maricopa County,County,AZ,AZ,Phoenix-Mesa-Scottsdale,4,13,116247.0,...,299209.0,302766.0,305996.0,309005.0,311980.0,315932.0,320662.0,325809.0,331342.0,337118.0
4,2841,4,San Diego County,County,CA,CA,San Diego-Carlsbad,6,73,180788.0,...,615413.0,618539.0,622620.0,625616.0,629734.0,636244.0,645855.0,656702.0,667613.0,678665.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2854,425,3101,Camas County,County,ID,ID,Hailey,16,25,NaN,...,128694.0,129002.0,129591.0,130251.0,131045.0,131872.0,132941.0,134046.0,134562.0,135280.0
2855,1648,3102,Daggett County,County,UT,UT,NaN,49,9,NaN,...,199832.0,200078.0,200578.0,201139.0,202381.0,203530.0,204908.0,206243.0,208409.0,210759.0
2856,2345,3112,Hinsdale County,County,CO,CO,NaN,8,53,NaN,...,360889.0,360009.0,360092.0,360399.0,362165.0,363339.0,364759.0,366208.0,368547.0,371057.0
2857,1933,3122,Mineral County,County,CO,CO,NaN,8,79,NaN,...,281246.0,281336.0,281719.0,282179.0,282880.0,283901.0,285268.0,287403.0,289654.0,292014.0
2858,2518,3124,San Juan County,County,CO,CO,NaN,8,111,NaN,...,293584.0,293750.0,294025.0,294807.0,295576.0,297028.0,298289.0,300482.0,303679.0,307821.0

In [6]:
home_values_draft = home_values.drop(columns = ["SizeRank", "StateName", "StateCodeFIPS", "MunicipalCodeFIPS"]).fillna(0)
home_values_df = home_values_draft.set_index("RegionID")
home_values_df

,RegionName,RegionType,State,Metro,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
RegionID,,,,,,,,,,,,,,,,,,,,,
3101,Los Angeles County,County,CA,Los Angeles-Long Beach-Anaheim,177774.0,177811.0,177880.0,178030.0,178168.0,178348.0,...,659773.0,664580.0,666444.0,667704.0,672758.0,680207.0,688570.0,695441.0,702046.0,708045.0
139,Cook County,County,IL,Chicago-Naperville-Elgin,154331.0,154104.0,153751.0,153625.0,153190.0,153250.0,...,253684.0,254076.0,254595.0,255333.0,256710.0,258486.0,261016.0,263754.0,266201.0,268475.0
1090,Harris County,County,TX,Houston-The Woodlands-Sugar Land,99675.0,99757.0,99768.0,99920.0,100066.0,100162.0,...,199807.0,200940.0,201912.0,202637.0,203555.0,204670.0,206514.0,208295.0,210494.0,212658.0
2402,Maricopa County,County,AZ,Phoenix-Mesa-Scottsdale,116247.0,116575.0,116946.0,117661.0,118356.0,118983.0,...,299209.0,302766.0,305996.0,309005.0,311980.0,315932.0,320662.0,325809.0,331342.0,337118.0
2841,San Diego County,County,CA,San Diego-Carlsbad,180788.0,180437.0,180244.0,179839.0,179653.0,179500.0,...,615413.0,618539.0,622620.0,625616.0,629734.0,636244.0,645855.0,656702.0,667613.0,678665.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Camas County,County,ID,Hailey,0.0,0.0,0.0,0.0,0.0,0.0,...,128694.0,129002.0,129591.0,130251.0,131045.0,131872.0,132941.0,134046.0,134562.0,135280.0
1648,Daggett County,County,UT,0,0.0,0.0,0.0,0.0,0.0,0.0,...,199832.0,200078.0,200578.0,201139.0,202381.0,203530.0,204908.0,206243.0,208409.0,210759.0
2345,Hinsdale County,County,CO,0,0.0,0.0,0.0,0.0,0.0,0.0,...,360889.0,360009.0,360092.0,360399.0,362165.0,363339.0,364759.0,366208.0,368547.0,371057.0
1933,Mineral County,County,CO,0,0.0,0.0,0.0,0.0,0.0,0.0,...,281246.0,281336.0,281719.0,282179.0,282880.0,283901.0,285268.0,287403.0,289654.0,292014.0
2518,San Juan County,County,CO,0,0.0,0.0,0.0,0.0,0.0,0.0,...,293584.0,293750.0,294025.0,294807.0,295576.0,297028.0,298289.0,300482.0,303679.0,307821.0

In [7]:
home_values_json = home_values_df.to_json()
print(home_values_json)

#print(json.dumps(home_values_json, indent=4))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

### Connect to cloud database

In [ ]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()
print(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")

In [ ]:
rental_values_df.to_sql("rental_values", conn, if_exists="append", index=True)

### Test

In [ ]:
dict = [{
    "name": "John",
    "age": 32,
    "location": "VA"
}, {
    "name": "Jane",
    "age": 34,
    "location": "NY"
}]

In [ ]:
dict_df = pd.DataFrame(dict)
dict_df

In [ ]:
dict_df.to_sql(con=conn, name='test', if_exists='append', index=False)

In [ ]:
rental_values_df = rental_values_draft.rename(columns={
    "2014-01":"Jan_2014", "2014-02":"Feb_2014", "2014-03":"Mar_2014", "2014-04":"Apr_2014", "2014-05":"May_2014", "2014-06":"Jun_2014", 
    "2014-07":"Jul_2014", "2014-08":"Aug_2014", "2014-09":"Sep_2014", "2014-10":"Oct_2014", "2014-11":"Nov_2014","2014-12":"Dec_2014",
    
    "2015-01":"Jan_2015", "2015-02":"Feb_2015", "2015-03":"Mar_2015", "2015-04":"Apr_2015", "2015-05":"May_2015", "2015-06":"Jun_2015", 
    "2015-07":"Jul_2015", "2015-08":"Aug_2015", "2015-09":"Sep_2015", "2015-10":"Oct_2015", "2015-11":"Nov_2015","2015-12":"Dec_2015",
    
    "2016-01":"Jan_2016", "2016-02":"Feb_2016", "2016-03":"Mar_2016", "2016-04":"Apr_2016", "2016-05":"May_2016", "2016-06":"Jun_2016", 
    "2016-07":"Jul_2016", "2016-08":"Aug_2016", "2016-09":"Sep_2016", "2016-10":"Oct_2016", "2016-11":"Nov_2016", "2016-12":"Dec_2016",
    
    "2017-01":"Jan_2017", "2017-02":"Feb_2017", "2017-03":"Mar_2017", "2017-04":"Apr_2017", "2017-05":"May_2017", "2017-06":"Jun_2017", 
    "2017-07":"Jul_2017", "2017-08":"Aug_2017", "2017-09":"Sep_2017", "2017-10":"Oct_2017", "2017-11":"Nov_2017", "2017-12":"Dec_2017",
    
    "2018-01":"Jan_2018", "2018-02":"Feb_2018", "2018-03":"Mar_2018", "2018-04":"Apr_2018", "2018-05":"May_2018", "2018-06":"Jun_2018", 
    "2018-07":"Jul_2018", "2018-08":"Aug_2018", "2018-09":"Sep_2018", "2018-10":"Oct_2018", "2018-11":"Nov_2018", "2018-12":"Dec_2018",
    
    "2019-01":"Jan_2019", "2019-02":"Feb_2019", "2019-03":"Mar_2019", "2019-04":"Apr_2019", "2019-05":"May_2019", "2019-06":"Jun_2019", 
    "2019-07":"Jul_2019", "2019-08":"Aug_2019", "2019-09":"Sep_2019", "2019-10":"Oct_2019", "2019-11":"Nov_2019", "2019-12":"Dec_2019",
    
    "2020-01":"Jan_2020", "2020-02":"Feb_2020", "2020-03":"Mar_2020", "2020-04":"Apr_2020", "2020-05":"May_2020", "2020-06":"Jun_2020", 
    "2020-07":"Jul_2020", "2020-08":"Aug_2020", "2020-09":"Sep_2020", "2020-10":"Oct_2020", "2020-11":"Nov_2020", "2020-12":"Dec_2020",
})

rental_values_df.head(1)